@import "../../utils/colorsv.scss";
.home-components {
  display: flex;
  align-items: center;
  flex-direction: column;

  .grid-components {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;

    .header {
      font-size: 16px;
      padding: 5px;
      cursor: pointer;
    }

    .gridElements {
      font-weight: bold;
    }

    .titleElements {
      color: $brandViolet;
      font-weight: bold;
    }
  }
}
