@import "./utils//colorsv.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.detail {
  color: $brandlight;
  font-size: 14px;
  font-family: sans-serif;
  padding: 10px;
  text-align: left;
}

.title {
  color: $brandmedium;
  font-size: 20px;
  padding: 20px;
}

.titlePage {
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
